<section class="ftco-section">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-12">
      <!-- <div class="d-flex text-center"> -->

      <h1 class="mb-4 text-center" style="align-self: center">
        <img src="assets/auction.png" alt="" style="height: 50px" /> جميع
        المزايدات
      </h1>

      <div class="row">
        <div class="col-sm-12 col-lg-12">
          <div
            class="col-12 p-3 mt-3 mb-3"
            style="
              background-color: white;
              border: 1px solid #435c73;
              border-radius: 5px;
            "
          >
            <form
              [formGroup]="dataRegistred"
              (ngSubmit)="onSubmit(form)"
              class="row"
              #form
            >
              <div class="col-sm-12 col-md-1 col-lg-1 m-2">
                <label for="#" style="padding: 5px"> النشاط: </label>
              </div>
              <div class="col-sm-12 col-md-4 col-lg-4 m-2">
                <select
                  formControlName="order"
                  name=""
                  id=""
                  class="form-control"
                >
                <option value="DESC">من اعلى الى ادنى ثمن</option>
                <option value="ASC">من ادنى الى اعلى ثمن</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-1 col-lg-1 m-2">
                <button type="submit" class="btn btn-primary form-control" style="text-align: center;">
                  بحث
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <div class="table-wrap">
        <table class="table">
          <thead class="thead-primary">
            <tr>
              <th>&nbsp;</th>
              <th>المساهمة</th>
              <th>واجب الكراء</th>
              <th>تاريخ المساهمة</th>
              <th>البطاقة الوطنبة</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let product of list"
              style="border-bottom: 2px solid #f8f9fd"
            >
              <td></td>
              <td class="border-bottom-0">
                <div class="">
                  <span style="font-size: large">{{ product.amount | number: "4.0" }}</span>
                </div>
              </td>
              <td class="border-bottom-0">
                <span style="font-size: large"
                  >{{ product.rentAmount | number: "4.0" }} </span
                >
              </td>
              <td class="border-bottom-0">
                <span style="font-size: large">{{
                  formatDate(product.bidDate)
                }}</span>
              </td>
              <td class="border-bottom-0" routerLink="/bidder/{{product.bidderId}}">
                <a href="#" routerLink="/bidder/{{product.bidderId}}"><span style="font-size: large; cursor: pointer;">{{
                  product.bidder.identityCard
                }}</span></a>
              </td>
            </tr>
            <tr *ngIf="list.length == 0">
              <td [colSpan]="6" style="text-align: center;">لا بوجد معلومات</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <ngb-pagination
    [collectionSize]="pageCount"
    [(page)]="page"
    aria-label="Default pagination"
    (click)="nextPageHandler()"
  ></ngb-pagination>
  <!-- </div> -->
  <button class="btn btn-success" routerLink="/auctions">
    جميع المزادات
  </button>
</section>
