<ng-template [ngIf]="bidder">
  <div class="container mb-4">
    <div class="header">
      <div class="row">
        <div class="col mb-3">
          <div class="card">
            <div class="card-body d-flex">
              <h3
                style="
                  padding-left: 13px;
                  align-self: center;
                  margin: 0px;
                  border-left: 1px solid rgb(161, 160, 160);
                "
              >
                {{ bidder.firstName }}
                {{ bidder.lastName }}
              </h3>
              <h3 style="align-self: center; margin: 0px; padding-right: 13px">
                {{ bidder.identityCard }}
              </h3>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="container"> -->
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-lg-4 col-sm-4 col-sm-12">
            <div class="col">
              <label for="">
                <span class="grey--color font--size"
                  >الاسم الشخصي:</span
                >
                <span dir="ltr" class="font--size">{{
                  bidder.firstName
                }}</span>
              </label>
              <br />
              <label for="">
                <span class="grey--color font--size">الاسم العائلي:</span>
                <span class="font--size">
                  {{
                    bidder.lastName
                  }}
                  </span
                >
              </label>
              <br />
              <label for="">
                <span class="grey--color font--size">البطاقة الوطنبة:</span>
                <span class="font--size">{{
                  bidder.identityCard
                }}</span>
              </label>

              <br />
              <label for="">
                <span class="grey--color font--size"
                  >رقم الهاتف:</span
                >
                <span class="font--size">0{{
                  bidder.phoneNumber
                }}</span>
              </label>
              <br />
              <label for="">
                <span class="grey--color font--size">النشاط التجاري:</span>
                <span class="font--size">
                  {{
                    bidder.activity.name
                  }}</span>
              </label>
              <br />
              <label for="">
                <span class="grey--color font--size">عنوان:</span>
                <span class="font--size">
                  {{
                    bidder.address
                  }}</span>
              </label>
            </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 mt-2">
              <div class="table-wrap">
                <table class="table table-bordered">
                  <thead class="thead-primary">
                    <tr>
                      <th>المحل</th>
                      <th>المساهمة</th>
                      <th>واجب الكراء</th>
                      <th>تاريخ المساهمة</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bid of list">
                      <td class="large--text">
                        {{ bid.auction.product.title }}
                        <br>
                        <small><span>{{ bid.auction.product.number }}</span></small>
                      </td>
                      <td ><span class="large--text">{{ bid.amount | number:'4.0' }}</span></td>
                      <td class="large--text"><span class="large--text">{{ bid.rentAmount | number:'4.0' }}</span></td>
                      <td class="large--text"><span class="large--text">{{ bid.bidDate | date: 'shortDate' }}</span></td>
                    </tr>
                    <tr *ngIf="list.length === 0">
                      <td [colSpan]="4">لا يوجد معلومات</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <ngb-pagination
            [collectionSize]="pageCount"
            [(page)]="page"
            aria-label="Default pagination"
            (click)="nextPageHandler($event)"
            [directionLinks]="false"
          ></ngb-pagination>
            </div>
          </div>
        </div>
      </div>

      <button class="mt-3 btn btn-success" routerLink="/auctions">لائحة المزايدات</button>
