<section class="gradient-form">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="card mt-5 rounded-3 text-black p-5">
        <div class="text-center">
          <img
            class="mb-3"
            src="assets/LOGO PCP - HQ - PNG.png"
            style="width: 250px"
            alt="logo"
          />
          <!-- <h4 class="mt-1 mb-5 pb-1">ASWAK BERKANE</h4> -->
        </div>
        <div
          *ngIf="isSuccess === true"
          class="alert alert-success"
          role="alert"
        >
          تم تغيير كلمة المرور بنجاح
        </div>
        <div
          *ngIf="isSuccess === false"
          class="alert alert-danger"
          role="alert"
        >
          يرجى التأكد من صحة جميع المعلومات
        </div>
        <form
          class="row"
          #form
          [formGroup]="dataRegistred"
          (ngSubmit)="onSubmit(form)"
        >
          <div class="col-sm-12 col-md-6">
            <!-- Email -->
            <div class="form-group">
              <label class="form-label" dir="ltr" for="Email"
                >بريدك الالكتروني</label
              >
              <input
                type="email"
                id="Email"
                formControlName="email"
                [class.is-invalid]="Email.invalid && Email.touched"
                [class.is-valid]="Email.valid"
                class="form-control"
                placeholder="بريدك الالكتروني"
              />
              <span
                ><small
                  class="text-danger ml"
                  *ngIf="Email.invalid && Email.touched"
                  >حقل البريد الإلكتروني إلزامي</small
                ></span
              >
            </div>
            <!-- Password -->
            <div class="form-group">
              <label class="form-label" for="Password">كلمه السر</label>
              <input
                type="password"
                dir="ltr"
                [class.is-invalid]="Password.invalid && Password.touched"
                [class.is-valid]="Password.valid"
                formControlName="password"
                id="Password"
                class="form-control"
                placeholder="كلمه السر"
              />
              <span
                ><small
                  class="text-danger ml"
                  *ngIf="
                    Password.invalid &&
                    Password.touched &&
                    Password.value.length <= 10
                  "
                >
                  حقل كلمة المرور إلزامي ويجب ان يكون طوله اكبر من 10
                  حروف</small
                ></span
              >
            </div>
            <!-- Confimr Password -->
            <div class="form-group">
              <label class="form-label" for="ConfirmPassword"
                >تأكيد كلمة المرور</label
              >
              <input
                type="password"
                dir="ltr"
                [class.is-invalid]="
                  (ConfirmPassword.invalid || ConfirmPassword.valid) &&
                  ConfirmPassword.touched &&
                  ConfirmPassword.value != Password.value
                "
                [class.is-valid]="
                  ConfirmPassword.valid &&
                  ConfirmPassword.value == Password.value
                "
                id="ConfirmPassword"
                formControlName="confirmPassword"
                class="form-control"
                placeholder="تأكيد كلمة المرور"
              />
              <span
                ><small
                  class="text-danger ml"
                  *ngIf="ConfirmPassword.invalid && ConfirmPassword.touched"
                  >حقل تأكيد كلمة المرور إلزامي</small
                ></span
              >
              <span
                ><small
                  class="text-danger ml"
                  *ngIf="
                    ConfirmPassword.valid &&
                    ConfirmPassword.touched &&
                    ConfirmPassword.value != Password.value
                  "
                  >يرجى التأكد من صحة كلمة المرور الخاصة بك</small
                ></span
              >
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <!-- Cin -->
            <div class="form-group">
              <label class="form-label" for="Cin">بطاقة الهوية الوطنية</label>
              <input
                type="text"
                id="Cin"
                dir="ltr"
                [class.is-invalid]="
                  IdentityCard.invalid && IdentityCard.touched
                "
                [class.is-valid]="IdentityCard.valid"
                formControlName="identityCard"
                class="form-control"
                placeholder="بطاقة الهوية الوطنية"
              />
              <span
                ><small
                  class="text-danger ml"
                  *ngIf="IdentityCard.invalid && IdentityCard.touched"
                  >حقل بطاقة الهوية الوطنية إلزامي</small
                ></span
              >
            </div>
            <!-- Datenaissance -->
            <div class="form-group">
              <label class="form-label" for="DateNaissance"
                >تاريخ الولادة</label
              >
              <input
                type="date"
                id="DateNaissance"
                formControlName="dateNaissance"
                class="form-control"
              />
              <span
                ><small
                  class="text-danger ml"
                  *ngIf="DateNaissance.invalid && DateNaissance.touched"
                  >حقل تاريخ الميلاد إلزامي</small
                ></span
              >
            </div>
            <!-- Phonenumber -->
            <div class="form-group">
              <label class="form-label" for="PhoneNumber">رقم الهاتف</label>
              <input
                type="text"
                id="PhoneNumber"
                formControlName="phoneNumber"
                class="form-control"
                placeholder="رقم الهاتف"
              />
              <span
                ><small
                  class="text-danger ml"
                  *ngIf="PhoneNumber.invalid && PhoneNumber.touched"
                  >حقل الهاتف إلزامي</small
                ></span
              >
            </div>
          </div>
          <div class="text-center m-4 mb-1">
            <button
              style="margin-left: 55px"
              class="btn btn-outline-primary btn-block fa-lg mb-3"
              type="submit"
            >
              تغيير كلمة المرور
            </button>
          </div>
        </form>
        <div class="text-center pb-1">
          <a class="text-muted" routerLink="/login"> تسجيل الدخول </a>
        </div>
      </div>
    </div>
  </div>
</section>
