/* .card + .card {
  margin-left: 10px;
} */

.wrapper {
  width: 100%;
  margin: 0 auto;
}

img{
  height: 373px;
}

.font--weight {
  font-weight: 900;
  color:#999;
}

span {
  margin-left: 5px;
}
